#header {
  height: 100px;
  background-color: yellow;
  color: blueviolet;
  margin: 0;
  padding: 0;
}
#body {
  height: 100%;
  width: 700px;
  background-color: gainsboro;
  margin: 0 auto;
}
#footer {
  height: 100px;
  background-color: gray;
}
#banner {
  height: 200px;
  background-color: brown;
}
